form {
    background-color: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1e3c72;
    color: white;
    border: none;
    cursor: pointer;
}
.login-title {
    text-align: center;
    margin-bottom: 20px;
}
select {
    width: 100%;
    padding: 8px;
}